@use "vars.css";

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Helvetica', Arial, sans-serif;
}

body {
    background-color: #101010;

    #app {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

a {

}

input, textarea {
    border: none;
    //color: black;
    //background-color: white;
}

button:disabled {
    opacity: 0.5;
}
