// autocomplate
.p-autocomplete {
    background-color: theme('colors.graydark2');
    color: white;
    padding: 10px 13px;


    .p-inputtext {
        width: 100%;

        &::placeholder {
            color: theme('colors.gray');
        }
    }

    .p-autocomplete-loader {
        right: 5px;
    }
}

#pv_id_0_panel {
    background-color: theme('colors.graydark2');
    color: white;
    border-radius: 5px;
    margin-top: 12px;
    z-index: 100200 !important;

    #pv_id_0_list {

        li {
            padding: 12px 13px;

            &:hover {
                color: white;
                font-weight: bold;
                background-color: theme('colors.green');
            }
        }
    }
}


// progressbar
.p-progressbar {
    height: 20px !important;
    border-radius: 5px !important;

    .p-progressbar-value {
        background-color: theme('colors.red') !important;
    }

    &:not(.warning) {
        .p-progressbar-value {
            background-color: theme('colors.green') !important;
        }
    }

}
